<p id="notice"><%= notice %></p>

<p>
  <strong>Board name:</strong>
  <%= @board_closure.board_name %>
</p>

<%= link_to 'Edit', edit_board_closure_path(@board_closure) %> |
<%= link_to 'Back', board_closures_path %>
