<p id="notice"><%= notice %></p>

<p>
  <strong>Board name:</strong>
  <%= @board_ancestry.board_name %>
</p>

<%= link_to 'Edit', edit_board_ancestry_path(@board_ancestry) %> |
<%= link_to 'Back', board_ancestries_path %>
